__pycache__
*.pyc
mgr_database.sqlite3*
log/
mysql_*
help_*
files/*.json
files/*.json.gz
files/*.xml
files/*.xml.bz2
files/polimorfologik.txt
files/polimorfologik-2.1.txt
files/polimorfologik-2.1.zip
files/skip*
files/word2vec*
files/neural
files/ea
