django-extensions
django-registration
django-bootstrap3
django-bootstrap-form
mysqlclient
django-admin-tools
django
gensim
pyemd
numpy
mwparserfromhell
termcolor
pydot
graphviz
tensorflow
more_itertools
