{% extends 'base.html' %}

{% block title %}
Question ({{ question.id }}): {{ question.name }}
{% endblock %}

{% block content %}
<div>
  <h3>Question <a href="{% url 'question' question.id %}">{{ question.id }}</a></h3>
  <h4><a href="https://www.google.com/search?q=site:pl.wikipedia.org {{ question.name }}">{{ question.name }}</a></h4>
</div>

<h3>Answers:</h3>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th class="col-md-1">Position</th>
    <th class="col-md-1">ID</th>
    <th class="col-md-8">Title</th>
    <th class="col-md-2">Length</th>
  </tr>
  {% for answer, position in answers %}
    <tr>
      <td>{{ position }}</td>
      <td><a href="{% url 'article' answer.article.id %}">{{ answer.article.id }}</a></td>
      <td><a href="https://www.google.com/search?q=site:pl.wikipedia.org {{ answer.article.title }}">{{ answer.article.title }}</a></td>
      <td>{{ answer.article.content_words_count }}</td>
    </tr>
  {% endfor %}
</table>

<h3>Ranking:</h3>
<table class="table table-striped table-bordered table-hover">
  <tr>
    <th class="col-md-1">Position</th>
    <th class="col-md-1">ID</th>
    <th class="col-md-1">Title</th>
    <th class="col-md-2">Length</th>
    {% for method in methods %}
      <th class="col-md-1">
        <a href="?order_by={{ forloop.counter }}"><span class="glyphicon glyphicon glyphicon-sort"></span></a>
        {{ method }}
       </th>
    {% endfor %}
  </tr>
  {% for article, row in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'article' article.id %}">{{ article.id }}</a></td>
      <td><a href="https://www.google.com/search?q=site:pl.wikipedia.org {{ article.title }}">{{ article.title }}</a></td>
      <td>{{ article.content_words_count }}</td>
      {% for weight in row %}
        <td>{{ weight|floatformat:4 }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock %}
